body {
    background: black;
}


input {
    color: white;
    margin: 5px;
    padding: 6px 9px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    border-left: 1px solid white;
}