h1 {
    color: aqua;
    text-align: center;
}

p {
    color: red;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 10px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}